.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 45%;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.ArticlePhotoDiv {
  background: url('../public/fentyrihana.jpeg');
  background-size: cover;
  height: 100%;
}

.ArticlePhotoDiv .bookmark2 {
  float: right;
  margin: 10px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

/* My CSS CLASSES  */
.ArticleDiv{
  border: 2px solid rgba(0, 0, 0, 1);
  margin: 30px;
 
 
}

/* All Big Divs from Article Element */
.ParentAuthorTopicDiv{
   
}

.AuthorDiv{
  width: 418px;
  height: 48px;
  top: -2%;
  left: 380px;
  border: 2px solid rgba(0, 0, 0, 1);
  box-sizing: border-box;
  width: 100%;
  
  padding-left: 10px;

  
  
}

.TopicDiv{
  width: 100%;
  height: 100%;
  border: 2px solid #000000;
   padding-top: 10px;
  padding-left: 10px;

  
} 

/* END OF BIG DIVS */

/* Classes for changing the order of elements on smaller devices */
@media screen and (max-width: 766px){
  .ParentAuthorTopicDiv{
    display: flex;
    flex-wrap: wrap;
    
 }

  .AuthorDiv{
    flex: 1;
    order: 2;
    flex-basis: 100%;
    border: none;
  }
  .TopicDiv{
    flex: 10;
  order: 1;  
  flex-basis: 100%;
  border: none;
  
  }
  

  .ArticlePhoto{
    /* position: relative; */
    
  }

  .bookmarkDiv{
    border: #fff  !important;

  }
  .bookmark{
    display: none;
    
  }

  
  

  /* Display new bookmark and bookmarkDiv */
  .ArticlePhotoDiv{
    border: #000000;
    position: relative;
  }

  .bookmarkDiv2{
    position: absolute;
    top: 30px;
    right: 30px;
    /* float: right; */
    height: auto;
  width: auto;
  border: 2px solid 	#000000;
  /* display: inline-block; */
  color: #000000;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 12px;
  
  background-color: white;
  /* position: relative; */
  /* top: 18%;
  left: 85%; */
  /* -webkit-transform: translate(+1037%,-5%); */
  /* z-index: 1; */
  
  
  
  } 
   .bookmark2 {
   
    
  
  }
  .AuthorDiv{
    background-color: rgba(0, 0, 0, 1);
  }

  

  
}  /* The end of media */



/* Second Bookmark Invisible on Desktop */
@media screen and (min-width: 767px){
.bookmarkDiv2 .bookmark2{
  display: none;
  
}
}


/* End of change order classes */


.ArticlePhotoDiv{
  
}

@media screen and (min-width: 1221px){
  .ParentAuthorTopicDiv{
   
  }
  .ArticleDiv{
    max-width: 1410px;
  }
  .ArticlePhotoDiv{
    
    
  }
  .ArticlePhoto{
    /* object-fit: contain; */
    max-height:1163px;
    
  }
}



.ArticlePhoto{
  
}
.ArticleP{
  
  max-width: 350px;
  width: auto;
  height: 84px;
  top: 64px;
  left: 400px;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.01em;

  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}




.Author{
  padding-top: 15px;
  font-family: Helvetica Now Text;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 14px;
letter-spacing: -0.03em;
width: 69px;
color:#1300E8;
display: inline;
order: 0;
align-self: center;
flex-grow: 0;
margin: 0px 14px 0px 12px;
display: inline-block;
}
.Time{
  display: inline-block;
  position: static;
width: 69px;
height: 16px;
left: 73px;
top: 0px;
font-family: Helvetica Now Text;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */

letter-spacing: -0.03em;

/* net/color 3 */

color: #788993;


/* Inside Auto Layout */

flex: none;
order: 1;
align-self: flex-end;
flex-grow: 0;
margin: 0px 4px;
}

.bookmarkDiv{
  float: right;
  
  height: auto;
width: auto;
left: 7px;
top: 2px;
border: 2px solid 	#000000;
display: inline-block;
color: #000000;
padding-right: 12px;
padding-left: 12px;
padding-top: 5px;
padding-bottom: 12px;


}
.bookmark {
  
  

}





.button1{
  width: 73px;
  height: 22px;
  display: inline;
  
  
background: #1300E8;
  color:#fff;
  border: 2px;
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 1);

border: 2px solid #000000;
box-sizing: border-box;
/* XX */
flex: none;
order: 0;
flex-grow: 0;
margin: 40px 0px;
font-family: Montserrat;
font-style: normal;
font-weight: 900;
font-size: 12px;
line-height: 14px;


letter-spacing: 0.01em;
text-transform: uppercase;




}
